*.log
*.md
.DS_Store
.env
.env.backup
.env.*.local
.env.development
.env.staging
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/playwright-report/
/test-results/
/blob-report/
/playwright/.cache/
/.vscode
/.zed
/auth.json
/public/build
/public/hot
/public/storage
/node_modules
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
QUICKSTART.sh
QUICKSTART.bat
/public/CUsersKolinioDocumentsProjectsWFFsourceWFFstorageframeworkviews
.env.testing
.env.staging
.env.development
/error_log